<section>
  <h1>Upcoming events</h1>
  <div class='events'>
    <ul>
      <li><a href='/blog/2012/07/11/movie-club-number-1/'>Movie Club #1 - The Amazing Spider-Man</a><br />16th July, 2012<br />Cineworld @ The O2 Arena</li>
    </ul>
  </div>

{% unless page.hide_past_events %}
  <h1>Past events</h1>
  <div class='events'>
    <ul>
      <li><a href='http://barcampberkshire.com/'>BarCamp Berkshire</a><br />7th–8th July, 2012<br />O2 HQ Slough</li>

      <li><a href='http://nine.barcamplondon.org'>BarCamp London 9</a><br />29th–30th October, 2011<br />City University London</li>

      <li><a href='http://eight.barcamplondon.org'>BarCamp London 8</a><br />13th–14th November, 2010<br />City University London</li>

      <li><a href='http://seven.barcamplondon.org'>BarCamp London 7</a><br />24th-25th October, 2009<br />IBM Southbank</li>

      <li><a href='http://six.barcamplondon.org'>BarCamp London 6</a><br />28th-29th March, 2009<br />The Guardian</li>

      <li><a href='/events'>And many more</a></li>
    </ul>
  </div>
{% endunless %}

</section>
