<aside>
  <nav>
    <ul>
      <li {% if page.url == '/index.html' %} class='active' {% endif %}><a href='/'>home</a></li>
      <li {% if page.url == '/events/' %} class='active' {% endif %}><a href='/events'>events</a></li>
      <li {% if page.url == '/about/' %} class='active' {% endif %}><a href='/about'>about</a></li>
      <li {% if page.url == '/contact/' %} class='active' {% endif %}><a href='/contact'>contact us</a></li>
      <li {% if page.url == '/friends/' %} class='active' {% endif %}><a href='/friends'>friends</a></li>
      <li {% if page.url == '/newsletter/' %} class='active' {% endif %}><a href='/newsletter'>newsletter</a></li>
    </ul>
    {% include partners.html %}
  </nav>
</aside>